body{
  font-famil: 'Roboto', sans-serif;
  background-color: #fffff2;
}

.App {
  text-align: center;
}

table{
  margin: 0 auto;
}

.pad{
  min-width: 70px;
  min-height: 70px;
  padding: 10px;
  font-size: 60px;
  color: black; 
  background-color: #fffff4;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

.playing{
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
  border-bottom: none;
  color: #FAA7A7;
}
